{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мотор-редукторы от завода-производителя с гарантией 12 месяцев! ООО "НПП "GlobalProm"</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">

    <script type="text/javascript">
        window.plp = {
            "page_id":997313,
            "content_id":1174533,
            "lang":"ru",
            "time":1504516319,
            "screens":"screens-xs-md-lg",
            "animations":{"section":{"type":"scroll"},
                "widget":{"type":"scroll"}}
        };
        window.plp_page_id = 997313;
        window.plp_content_id = 1174533;
        window.plp_lang = "ru";
        window.error_handler = function (e, fn_id) {
            window.console && console.log && console.log(fn_id);
            window['error_handler_' + fn_id] && eval(window['error_handler_' + fn_id]);
            window.trackJs && trackJs.track(e);
            window.console && console.error && console.error(e.message);
        };
    </script>

    <script type="text/javascript">
        window._trackJs = {
            token: "4fd557ccb06a4bd28e7b90da188cd54b",
            application: "production",
            enabled: location.href.indexOf("notrackjs") < 0
        };
    </script>
    <!-- Start FastcallAgent code {literal} -->
    <script type="text/javascript">
        var fca_code = 'f9c847450501352e92bcc79c56e0eb1f';
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.charset = 'utf-8';
            po.src = '//ua.cdn.fastcallagent.com/fca.min.js?_='+Date.now();
            var s = document.getElementsByTagName('script')[0];
            if (s) { s.parentNode.insertBefore(po, s); }
            else { s = document.getElementsByTagName('head')[0]; s.appendChild(po); }
        })();
    </script>
    <!-- {/literal} End FastcallAgent code -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NBDQC5G');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBDQC5G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 flex">
                <div>
                    <img class="logo" src="../../images/logo.png" alt="">
                </div>
                <div>
                    <p>ООО НПП "GlobalProm" <br>Сертифицированный производитель <br>мотор-редукторов 3МП</p>
                </div>
                <div>
                    <ul class="contacts">
                        <li>
                            <img src="../../images/placeholder.png" alt=""/>
                            <span>г. Харьков, ул .Сумская 37</span>
                        </li>
                        <li>
                            <img src="../../images/clock.png" alt=""/>
                            <span>Работаем с 8:00 до 20:00</span>
                        </li>
                    </ul>
                </div>
                <div class="phones">
                    <div>Звоните</div>
                    <span>+38 (095) 485-60-44</span>
                    <span>+38 (098) 248-97-97</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="thanks">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../../images/th_check.png" alt="thanks">
                <h1>Спасибо, что заинтересовались нашим оборудованием!</h1>
                <p>Представленные цены в прайсе для Вас станут дешевле на <b>15%</b>, если Вы сделаете заказ <b>в течение 1 часа</b></p>
                <a href="/"><img src="../../images/arrow_right.png" alt="arrow">Вернуться на сайт</a>
                <a id="download" href="/price.pdf" target="_blank" download="" class="hidden">Price</a>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function(){
        document.getElementById('download').click();
    },1000);
</script>

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 837610157;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/837610157/?guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- Start FastcallAgent code {literal} -->
<script type="text/javascript">
    var fca_code = '0a8381b7963b7ff1ecc0836d7649cc68';
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.charset = 'utf-8';
        po.src = '//ua.cdn.fastcallagent.com/fca.min.js?_='+Date.now();
        var s = document.getElementsByTagName('script')[0];
        if (s) { s.parentNode.insertBefore(po, s); }
        else { s = document.getElementsByTagName('head')[0]; s.appendChild(po); }
    })();
</script>
<!-- {/literal} End FastcallAgent code -->
</body>
</html>
