// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$orange: #f18118;
$orange-light: #ff8f26;
$blue: #041038;
$dark-blue: #1f3149;
$grey: #bdbdbd;
$dark-grey: #8f929f;
$default-font: "ProximaNova", sans-serif;
$bold-font: "OpenSansBold", sans-serif;
$semibold-font: "OpenSansSemiBold", sans-serif;